@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, serif;
  font-weight: 400;
}

.navbar {
  margin-bottom: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F55A5A;
  color: white;
}

.navbar--img {
  height: 2.5rem;
  margin: 12px;
}

.navbar--title {
  font-weight: 500;
  letter-spacing: -0.07rem;
}


.record {
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.record--image {
  width: 210px;
  height: 275px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.record--info {
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.record--sub-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.record--location-icon {
  height: 1rem;
}

.record--country {
  margin: 0px 10px;
  padding-right: 8px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: +0.2rem;
}

.record--maps {
  color: gray;
}

.record--maps:hover {
  color: darkgray;
}

.record--location {
  margin: 0px;
  margin-top: 8px;
  font-size: 2.75rem;
}

.record--date {
  margin: 25px 0px 15px 0px;
  font-weight: bold;
}

.record--description {
  margin: 0px;
  font-size: 1.1rem;
  width: 55vw;
}
